
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Geist:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Geist:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
}
/* Header */

span {
    color: #070707;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
}

.container_header_disciplinas {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links_disciplinas {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links_disciplinas a {
    font-size: 16px;
    margin: 5px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.container_header_disciplinas img {
    width: 80px;
    height: 40px;
    margin: 10px;
}

#cadastro {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro a {
    width: 80px;
    height: 30px;
    padding: 6px;
    font-size: 13px;
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    color: #007bff;
    font-weight: 800;
}

#cadastro button {
    width: 80px;
    height: 30px;
    padding: 6px;
    font-size: 13px;
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    color: #007bff;
    font-weight: 800;
}

/* disciplinas */

#disciplinas{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.linha_grande {
    width: 1200px;
    height: 1px;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;

}

.container_disciplinas {
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo_disciplinas {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escrita_disciplinas {
    width: 100%;
    height: 60px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.escrita_disciplinas h1 {
    font-size: 35px;
    color: rgb(39, 39, 39);
}

/* disciplinas-categorias*/

.cabecario_disciplinas {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro_categorias {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro_categorias button {
    width: 100px;
    height: 35px;
    margin: 3px;
    background-color: #014BDB;
    color: white;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.filtro_categorias button:hover {
    background-color: #0152f3;
}

/* cabecario pesquisa */

.pesquisar {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisarInput {
    width: 700px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.pesquisarInput_lado {
    width: 45px;
    height: 40px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisarInput_lado img {
    width: 20px;
    height: 20px;
}

/* Nao encontrado*/

.naoEncontrado {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.naoEncontrado p {
    font-size: 17px;
    font-weight: 600;
}

.naoEncontrado img {
    width: 70px;
    margin: 10px;
}


/* cards */

.cards_all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    height:250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(202, 202, 202);
    transition: 0.5s;
}

.card a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #4FAD64;
    transition: 0.5s;
}

.card a:hover {
    background-color: #1da33a;
}

.container_card {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.escrita_card {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.escrita_card h1 {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #070707;
}

.escrita_card p {
    width: 200px;
    height: auto;
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.container_card img{
    width: 100px;
}

.container_card h2 {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(43, 43, 43);
}

.dificuldade_card{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.dificuldade_card img {
    width: 20px;
    height: 20px;
}

.foto_card {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}