
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Geist:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
}

/* header */
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #481658;
}

span {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #686868;
    font-size: 25px;
}

.container_header_curso {
    width: 1300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_compartilhe {
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #481658;
    border: 1px solid white;
    color: white;
    font-weight: 900;
}

.header_compartilhe img {
    width: 13px;
    margin: 5px;
}

.header_compartilhe:hover {
    background-color:  #4c1e5c;
}

.escrita_header_curso {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.escrita_header_curso img {
    width: 90px;
    height: 50px;
}

.links_header_curso h2 {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

/* conteudos */

.all {
    width: 100%;
    display: flex;
    height: 100vh;
}

/* cabecario */
.topicos {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    z-index: 1;


}

.escrita_topicos {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px black;
    z-index: 1;
}

.escrita_topicos img {
    width: 20px;
    height: 20px;
}

.topicos .escrita_topicos h1 {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.topicos .escrita_topicos p {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(51, 51, 51);
}

/* Elementos */

.elementos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 0;
}

.caixa_cor {
    width: 7px;
    height: 100%;
    background-color: #0F3BBF;
}

.caixa_elemento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border: 0px;
}

.caixa_elemento button {
    padding-left: 10px;
}

.caixa_elemento:hover {
    background-color: #eeeeee;
}

.caixa_elemento img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

/* Caixas menores */

.caixa_elemento_sub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa_elemento_sub img {
    width: 20px;
    height: 20px;
}

.caixa_elemento_sub button {
    padding-left: 10px;
}

.subitems {
    width: 95%;
    display: none;
}

.subitems.active {
    display: block;
}

/* Conteudo */
.conteudos {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.conteudo {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;

}

.conteudo img {
    width: 400px;
    border-radius: 20px;
    border:  1px solid rgb(168, 168, 168);
    margin: 20px;
}

.container_conteudo {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.container_conteudo h1 {
    font-size: 35px;
    font-weight: 500;
    margin: 10px;
}

.container_conteudo p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 10px;
    width: 90%;
    height: auto;
    text-align: left;
}

.conteudo_video {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_video iframe{
    width: 800px;
    height: 400px;
    margin: 10px;
}


/* Quadrado branco */

.caixa_branca {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 19px;
    font-weight: 900;
}

.popup p {
    font-size: 14px;
    font-weight: 500;
}

.escrita_popup {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#linkInput {
    width: 380px;
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgb(129, 129, 129);
    text-align: center;
}

#closeButton {
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
}

#closeButton img {
    width: 20px;
}


#closeButton:hover {
    background-color: #0056b3;
}